SECRET_KEY=troque-esta-chave-no-render
DEBUG=False
ALLOWED_HOSTS=seu-app.onrender.com,localhost,127.0.0.1
DATABASE_URL=postgresql://usuario:senha@host:5432/banco
DJANGO_SUPERUSER_EMAIL=admin@entrelinhas.com
DJANGO_SUPERUSER_PASSWORD=troque-esta-senha
DJANGO_SUPERUSER_NAME=Beatriz Mendes
